@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "MINISTRO";
  src: local("MINISTRO"),
  url("../fonts/MINISTRO.TTF") format("truetype");
}

@font-face {
  font-family: "beckman";
  src: local("BECKMAN"),
  url("../fonts/BECKMAN-FREE.OTF") format("truetype");
}

@font-face {
  font-family: "ROOM";
  src: local("ROOM-205"),
  url("../fonts/ROOM205-REGULAR.OTF") format("truetype");
}

.banner {
    background-image: url('https://i.imgur.com/z2r74L5.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
    display: flex;
    object-fit: cover;
    flex-direction: row;
    max-width: 100%;
    height: 100vh;
}

.banner__showcase {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    transition: 0.5s;
    margin: 35px 20px;
}

.banner__span {
    font-family: "beckman";
    /* color: #03D8F2; */
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #00000000
}

.banner__showcase > h2 {
    font-family: "beckman";
    font-size: 6vw;
    font-weight: 800;
    color: #FDEF0A;
    line-height: 1em;
   
}
.banner__showcase > h3
{
  font-size:2vw;
  font-weight: 500;
  color: white;
  line-height: 1em;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  max-width:fit-content;
}
.banner__showcase > p
{
  font-size: 1.6vw;
  color: white;
  margin: 20px 0;
  font-weight: 300;
  max-width: 500px;
  font-family: 'Poppins', sans-serif;
  max-width:fit-content;
}

.banner__button {
    /* background: #03a9f4; */
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 1.6vw;
    padding: 0.8vw 3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-top: 10px;
    background-color: hsl(187, 98%, 48%);
    color:#1E1F26;
    max-width: 30%;
    border: 3px solid #03D8F2;
    letter-spacing: 2px;
    transition: 0.2s;
    border-radius:99px;
}

.banner__button:hover
{
  letter-spacing: 6px;
}

@media(max-width:1024px){
  .banner{
    background: url("https://i.imgur.com/Ki02dGh.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
  }
}

@media (max-width: 786px){
  .banner__showcase{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 0px;

  }

  .banner__showcase > h2 {
    font-size: 12vw;
  }

  .banner__showcase>h3 {
    font-size: 5vw;
  }

  .banner__showcase > p {
    font-size: 4vw;
  }

  .banner__button {
    font-size: 4vw;
    padding: 2vw 9vw;
  }
  
}