@font-face {
    font-family: "evolve";
    src: local("EVOLVE"),
    url("../fonts/evolve-medium.OTF") format("truetype");
}

@font-face {
    font-family: "cambriab";
    src: local("CAMBRIAB"),
    url("../fonts/CAMBRIA.TTC") format("truetype");
}


@font-face {
    font-family: "MINISTRO";
    src: local("MINISTRO"),
    url("../fonts/MINISTRO.TTF") format("truetype");
  }
  
@font-face {
font-family: "beckman";
    src: local("BECKMAN"),
    url("../fonts/BECKMAN-FREE.OTF") format("truetype");
}

.card {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;  
}
 
.card__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 100%;
    flex: 1;
}

.card__containerReverse {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
 
    max-width: 100%;
    flex:1;
} 

.card__image{
    display: flex;
    padding-right: .625rem;
    padding-left: .625rem;
    width: 100%;
}

.card__projectImage {
    display: inline-block;
    vertical-align: middle;
    max-width: 80vw;
    height:auto;
    border-radius: 10px;
    flex: 0.3
}

.card__details{
    display: flex;
    flex-direction: column;
    flex: 0.5;
}

.card__details > h3 {
    font-weight: 500;
    font-family: 'evolve';
    font-size: 4vw;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #03D8F2;
}

.card__info {
    font-size: 1.3vw;
    margin-bottom: 20px; 
    color: white; 
    font-family: "Poppins", sans-serif;
    font-weight: 400;

}

.card__skillsHead {
    display: flex;
    font-size: 2vw;
    color:#03D8F2;
}

.card__skills {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__languages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
      
}

.card__logo {
    display: flex;
    height: 2vw;
    width: 2vw;
    margin: 10px;
}

.card__languageName {
    font-size: 1.6vw;
    margin: 10px;
}

.card__bottomButtons {
    display: flex;
    margin-top: 20px;
    text-decoration: none;
}
.card__bottomButtons a{
    text-decoration: none;
}

.card__bottomImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    width: 2vw;
    height: 2vw;
}

.card__bottomButton1 {
    font-style: 'Poppins';
    font-size: 1.4vw;
    display: flex;
    flex-direction: row;
    background-color: #FDEF0A;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    border-radius: 99px;
    color:#1E1F26;
    border: none;
    margin-right: 80px;
    cursor: pointer;
    text-decoration: none;
}
.card__bottomButton1:hover{
    transition: all 0.3s ease-in;
    letter-spacing: 6px;
}


.card__bottomButton2 {
    font-family: 'poppins';
    font-size:1.4vw;
    display: flex;
    flex-direction: row;
    border: 4px solid #FDEF0A;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    border-radius: 99px;
    color: #FDEF0A;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    text-decoration: none;
}

.card__bottomButton2:hover {
    transition: all 0.3s ease-in;
    background-color: #FDEF0A;
    color: #1E1F26;
    letter-spacing: 6px;
}




hr {
    height: 4px;
    width: 40%;
    background-color: #03D8F2;
    
}

.card__languageName 
{
    color: white;
}

.card__languageName:hover
{
    transition: all 0.3s ease-in;
    color: #03D8F2;
}


@media(max-width: 786px){
    .card__details{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card__details > h3 {
        font-size: 10vw;
    }
    .card__info{
        display: flex;
        font-size: 4vw;
        text-align: center;
        justify-content: center;
    }
    .card__skillsHead{
        display: flex;
        justify-content:center;
        align-items:center;
        font-size: 6vw;
    }

    .card__logo{
        height: 4vw;
        width: 4vw;
    }

    .card__languageName{
        margin: 0px;
        font-size: 4vw;
    }

    .card__bottomButton1{
        font-size: 3vw;
        
    }
    .card__bottomImage {
        width: 5vw; 
        height: 5vw;
        
    }
    
    .card__bottomButton2{
        font-size: 3vw; 
    }

}

/* .card{
    
}

.card__Box {

    background: #03D8F2;
    display: flex;
    
    cursor: pointer;
    margin: 50px ;
    justify-content:space-evenly;
    padding: 5px 5px;
    box-shadow:  -12px -12px 12px 0 rgba(58, 58, 58, 0.3),12px 12px 12px 0 rgba(0,0,0,.2);
    border-radius: px;
    width: 80%;
    
}

.card__Content {
    
    display: flex;
    position: absolute;
    flex-direction: column;
    
}

.card__Image {
    height: 410px;
    width: 100%;
}

.card__Text {
    color: white;
    font-size: 2rem;
    z-index: 10;
}

.card__Description {
    color: white;
    font-size: 1.2rem;
    z-index: 10;
    margin-top: -10px;
}

 */
