.flipCard {
    display: flex;
    max-width: 100%;
    margin-bottom: 20px;
}

.skills{
    position: relative;
    width: 400px;
    height: 550px;
    transform-style: preserve-3d;   
}

.skills .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform: perspective(500px) rotateY(0deg);
    transition: 0.8s ease-in-out;
    border-radius: 10px;
    box-shadow: 9px 9px 16px rgba(15, 15, 15, 0.39),
    -9px -9px 16px rgba(179, 177, 47, 0.808);
}

.skills .face.front {
    background: #1E1F26;
    /* background: #e0e5ec;  */
    display: flex;
    flex-direction:column; 
    justify-content: space-evenly;
    
   
}

.text {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    text-align: center;
}


.front img{
    backface-visibility: hidden;
    width: 20vw;
    height: 20vw;
}

.skills:hover .face.front {
    transform: perspective(500px) rotateY(180deg);
}


.skills .face.back {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center; 
    background-color: #03D8F2;
    color: #1E1F26;
    transform: perspective(500px) rotateY(180deg);
}

.skills:hover .face.back{
    transform: perspective(500px) rotateY(360deg);
}

.skills .face.front h2 {
    font-family: "evolve";
    backface-visibility: hidden;
    font-size: 40px;
    color: #FDEF0A;

    /* transform:perspective(500px) translateZ(50px); */
}
.skills .face.front h3 {
    font-family: "Fira Sans";
    font-weight: 500;
    backface-visibility: hidden;
    font-size: 20px;
    color: #03D8F2;
    /* transform:perspective(500px) translateZ(50px); */
}

.detail {
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:left;
    max-width: 100%;

}

.detail__img {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 5px 40px;
}
.detail__text {
    font-family: "Fira Sans";
    font-size: 1.6vw;
    font-weight: 200;
    display: flex;
}


@media (max-width: 786px) {

   
    .front img {
        height: 65vw;
        width: 65vw;
    }

    .detail__text{
        font-size: 6vw;
       
    }
}