.footer__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer__top {
    width: 70%;
    display: flex;
    flex-direction: row;
    background-color: #FDEF0A;
    margin: 30px 70px;
    align-items: center;
    border-radius: 10px; 
    box-shadow: inset 4px 4px 6px rgba(216, 213, 10, 0.2) ,
                inset -4px -4px 10px rgba(0,0,0,0.8),
                6px 6px 8px black,
                -1px -1px 7px rgba(255,255,255,0.1);
}

/* .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border-right: 4px solid #1E1F26;
    margin-top: 10px;
    margin-bottom: 20px;
} */

.footer__right {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer__logo {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-bottom: 10px;
}

.footer__left > h2{
    margin-bottom: 20px;
    font-style: 'Poppins' sans-serif;
    font-size: 2.2vw;
    font-weight: 700;
}
.footer__leftItem{
    font-size: 1.35vw;
    margin: 10px;
    font-family: 'Poppins' sans-serif;
    font-weight: 500;
}

.footer__coffeeImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.footer__contactText {
    font-family: 'Poppins' sans-serif;
    font-size: 3vw;
    margin: 10px;
}

.footer__right > button {
    cursor: pointer;
    font-family: 'poppins';
    font-size:1.6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    border-radius: 99px;
    color: #1E1F26;
    border: 3px solid #1E1F26;
    background-color: rgba(255, 255, 255, 0)
}

.footer__right > button:hover {
    transition: all 0.3s ease-in;
    background-color: #1E1F26;
    color: #FDEF0A;
}

.footer__bottom {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.footer__iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #1E1F26;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2),
    -3px -3px 3px rgba(255, 255, 255, 0.05), inset 0 0 0 rgba(0, 0, 0, 0),
    inset 0 0 0 rgba(255, 255, 255, 0);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    outline: none;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 99px;
    margin-top: 20px;
}

.footer__iconContainer:hover{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0),
    inset 3px 3px 3px rgba(0, 0, 0, 2),
    inset -3px -3px 3px rgba(255, 255, 255, 0.05);
    color: #03D8F2;
}

.footer__bottomIcon {
    font-size: 35px !important;
    color: #7e7e7e;
        
}

/*form*/
::placeholder{
    color: #1E1F26;
}

.form__div{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:center;
    padding: 80px 0px;
    align-items: center;
    max-width: 100%;
  
}

.form__div > h2 {
    font-size: 7vw;
}

.form__container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.form__input {
    font-family: 'Poppins' sans-serif;
    font-size: 12px;
    width: 600px;
    max-width: 80%;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #1E1F26;
    margin-top: 20px;
    border: solid 2px #1E1F26;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.form__textarea {
    width: 600px;
    max-width: 80%;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    margin-top: 20px;;
    background: transparent;
    outline: none;
    color: #1E1F26;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    border: solid 2px #1E1F26;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.form__btn {
    margin-top: 20px;
    font-family: 'poppins';
    font-size: 1.3vw;
    display: flex;
    border-radius: 20px;
    padding: 10px 20px;
    color: #1E1F26;
    border: 3px solid #1E1F26;
    background-color: rgba(255, 255, 255, 0);
}

.form__btn:hover {
    transition: all 0.3s ease-in;
    background-color: #1E1F26;
    color: #FDEF0A;
}

@media(max-width:786px){

    .footer__left > h2{
        font-size: 4vw;
    }


    .footer__leftItem {
        font-size: 3vw;
    }

    .footer__contactText {
        font-size: 6vw;
    }

    .footer__right> button{
        padding: 5px 10px;;
        font-size: 4vw;
    }

    .form__div{
        padding: 8px;
        margin: 0px;
    }

    .form__input{
        max-width: 80%;
        height: 10vw;
    }
    .form__textarea{
        max-width: 80%;
    }
    .form__btn{
        font-size:3.6vw;
    }

    .footer__iconContainer{
        background-color: none;
        box-shadow: none;        
    }
    .footer__iconContainer:hover{
        border: 2px solid #03D8F2;
    }

    .footer__bottomIcon {
        max-width: 35px !important;
    }
    .footer__bottomIcon:hover{
        color: #03D8F2 !important;
    }

    .footer__coffeeImage{
        width: 60%;
    }
}