@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "evolve";
    src: local("EVOLVE"),
    url("../fonts/evolve-medium.OTF") format("truetype");
}

@font-face {
    font-family: "cambriab";
    src: local("CAMBRIAB"),
    url("../fonts/CAMBRIA.TTC") format("truetype");
}



.header {
    display: flex;
    justify-content: space-evenly;
    background: #1E1F26;
}



.header__container {
    display: flex;
    flex-direction: row;
    background: #1E1F26;
    color: #1E1F26;
    border: 3px solid #03D8F2;
    border-radius: 99px;
    width: 80%;
    justify-content:center;
    margin-top: 30px;
    margin-bottom: -30px;
    z-index: 10;
    position:fixed;
    transition: all 0.5s ease-in-out;
}

.header__containerChange {
    width: 100%;
    border-radius: 0px;
    margin-top: 0px; 
    border: 0px;
    border-bottom: 3px solid #03D8F2;
}

.header__left {
    display: flex;
    align-items: center;
    flex: 3;   
    border-radius: 99px;
}

.header__logo{
    display: flex;
    justify-content: center;
    width: 90px;
    margin-left: 5px;
    margin-right: 1px

}
.toggle-menu {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.header__menuIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}




.header__middle{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 2;
    justify-content:center; 
}

.header__middleBox {
    background: #FDEF0A;
    margin: 10px;
    align-items: center;
    justify-content:center;
    padding: 10px 10px 4px 10px;
    border-radius: 10px;
    border: 3px solid #03D8F2;
}

.header__icon {
    font-size: 30px !important;
}


.header__right{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background: #FDEF0A; */
    justify-content:space-evenly;
    flex: 3;
    color: white;
    border-radius: 99px;
    padding: 10px 0px;
}

.header__item {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.6vw; 
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.header__item:hover {
    background-color: #03D8F2;
    padding: 0px 10px;
    border-radius: 99px;
    color: #1E1F26;  
    
}

.header__toggle {
   
    background-color: green;
    height: 100px;
  
    width: 100px;
}

.header__toggleItem {

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 22px; 
    transition: all 0.5s ease-in-out;
}

@media (max-width: 786px) {
    .header__left{
        flex: 1;
    }

    .header__middle{
        flex: 0;
    }

    .header__item{
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 2;
        font-size: 3vw;
    }
    
}
