@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Montserrat+Alternates:wght@900&family=Roboto:wght@700;900&display=swap');


@font-face {
    font-family: "evolve";
    src: local("EVOLVE"),
    url("../fonts/evolve-medium.OTF") format("truetype");
}

@font-face {
    font-family: "cambriab";
    src: local("CAMBRIAB"),
    url("../fonts/CAMBRIA.TTC") format("truetype");
}


.page4{
    display: flex;
    flex-direction:column;
    background: #FDEF0A;
    /* background: #e0e5ec; */
    background-image: url('');
    max-width: 100%;
}

.page4__Top {
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 20px;
}

.page4__Head {
    font-family: "evolve";
    font-size: 5vw;
}

.page4__Bottom {
    display: flex;

    justify-content:space-evenly;
    flex-direction:row;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.page4__Bottom{
    padding: 20px;
    max-width: 100%;
    display: flex;
}
.page4__BottomCard{
    padding: 20px;
    max-width: 100%;
}

@media (max-width: 786px){
    .page4__Head{
        font-size:14vw;
    }
}




/* .page4__Left {
    
    background: black;
}
.page4__Middle {
 
    border-radius: 10px;
    background: black;
}
.page4__Right {
    border-radius: 10px;
    background: black;
} */