@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "evolve";
    src: local("EVOLVE"),
    url("../fonts/evolve-medium.OTF") format("truetype");
}

@font-face {
    font-family: "cambriab";
    src: local("CAMBRIAB"),
    url("../fonts/CAMBRIA.TTC") format("truetype");
}

.page2{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #da4453; /* fallback for old browsers */
    background-color: #1E1F26;
    background-image: url('https://i.imgur.com/DgkWt0D.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed; */
}
.page2__Box{
    margin-top:70px;
    display:flex;
    width: 100%;
    margin-bottom: 70px;
    flex-direction: row;
}

.page2__Left {
    background-color: #1E1F26;
    box-shadow: inset 4px 4px 6px rgba(255,255,255,0.2) ,
                inset -4px -4px 10px rgba(0,0,0,0.8),
                6px 6px 8px black,
                -1px -1px 7px rgba(255,255,255,0.1);
    display: flex;
    max-width: 50%;
    flex-direction:column;
    margin-left: 30px;
    padding: 50px 30px;
    max-height: 100%;
}

.page2__Head {
    font-family: "evolve";
    font-size: 5vw;
    margin-bottom: 10px;
    color: #FDEF0A;
}

.page2__Bottom {
    font-size: 1.6vw;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight:200;
  
}

.btn {
    font-family: 'poppins';
    font-size:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 99px;
    background-color: #1E1F26;
    color: #03D8F2;
    border: 3px solid #03D8F2;
    max-width: 40%;
}

.btn:hover
{
        transition: all 0.3s ease-in;
        background-color: #03D8F2;
        color: #1E1F26;
    /* font-weight: 500;
    background-color: #03D8F2;
    color: black;
    letter-spacing: 3px;
    transition: all 0.5s ease; */
}

@media (max-width: 786px) {
    .page2 {
        background-image: none;
    }
    
    .page2__Box {
        padding: 0px;
        margin: 20px 0px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .page2__Left{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width:100%;
        margin: 20px;
    
    }

    .page2__Head {
        padding: 0px;
        margin: 0px;
        font-size: 14vw;
    }

    .page2__Bottom{
        display: flex;
        font-size: 4vw;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
    }

    .btn {
        margin-top:20px;
        font-size: 5vw;
        min-width: 60%;
        padding: 4vw 1vw;
        
        
    }
}



/* .btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}
.btn:hover {
    transition: all .5s ease-in-out;
    color: rgb(0, 0, 0);
} 

.btn span {
    position: relative; 
    z-index: 1;
}
  
.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #ffffff;    
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
  
.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
} */