@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "evolve";
    src: local("EVOLVE"),
    url("../fonts/evolve-medium.OTF") format("truetype");
}

@font-face {
    font-family: "cambriab";
    src: local("CAMBRIAB"),
    url("../fonts/CAMBRIA.TTC") format("truetype");
}

.page3 {
    background: #FDEF0A;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.page3__left{
    display: flex;
    flex: 0.5;
    margin-top: 30px;
}

.page3__portfolioLaptop {
    max-width: 120%;
}

.page3__right{
    display: flex;
    flex: 0.5;
    flex-direction: column;
    margin-top: 20px;
}

.page3__rightHeader{
    font-family: 'evolve';
    font-size: 5vw;
    margin-top: 60px;
    margin-bottom: 30px;
}

.page3__rightText{
    font-family: 'Poppins' sans-serif;
    font-weight: 500;
    font-size: 1.6vw;
    margin-bottom: 30px;
    max-width: 92%;
}

.page3__rightButton {
    font-family: 'poppins';
    font-size:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    border-radius: 99px;
    background-color: #FDEF0A;
    color: #1E1F26;
    border: 3px solid #1E1F26;;
    max-width: 40%;
}

.page3__rightButton:hover {
    transition: all 0.3s ease-in;
    background-color: #1E1F26;
    color: #FDEF0A;
}

@media (max-width: 786px) {
    .page3{
        display: flex;
        flex-direction: column;
    }
    .page3__portfolioLaptop {
        max-width: 100%;
    }

    .page3__rightHeader {
        text-align: center;
        font-size: 14vw;
        margin-top:0px;
    }
    .page3__rightText{
        text-align: center;
        font-size: 4vw;
        padding: 0px;
        margin: auto;  
    }

    .page3__rightButton{
        font-size: 5vw;
        min-width: 60%;
        padding: 4vw 1vw;
        margin:auto;
        margin-bottom: 20px;
        margin-top: 20px;
        text-decoration: none;
    }


    
    

}