.testimonial {
    display:flex;
    padding: 0 100px;
}

/* .container {
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    box-sizing: border-box;
    padding: 20px;
} */


.container .box{
    position: relative;
    padding: 10px;
    transition: 0.5s;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #1E1F26;
    box-shadow: inset 4px 4px 6px rgba(255,255,255,0.2) ,
                inset -4px -4px 10px rgba(0,0,0,0.8),
                6px 6px 8px black,
                -1px -1px 7px rgba(255,255,255,0.1);
    border-radius: 10px;
    color: white;
  
}

.container .box:hover{
    background: #FDEF0A;
    color: #1E1F26;
    box-shadow: inset 4px 4px 6px rgba(214, 214, 201, 0.582) ,
                inset -4px -4px 10px rgba(0,0,0,0.8),
                6px 6px 8px black,
                -1px -1px 7px rgba(255,255,255,0.1);
    
}
 
.container .box p {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    font-size: 1.2vw;
}

.container .box h4{
    margin: 20px 0 0;
    padding: 0;
    transition: 0.5s;
    font-size: 1.8vw;
    font-weight: 700px;
    text-transform: uppercase;
    color: white;
}

.container .box h4 span {
    font-weight: 600;
    font-size: 1.3vw;
    color: white;
    transition: 0.5s;
}

.container .box:hover p,
.container .box:hover h4,
.container .box:hover h4 span 
{
   color: #1E1F26;
}

.container .box .imgBox {
   
    display: flex;
    background: gray;
    transform: translateX(-50%, -50%);
    width: 10vw;
    height:10vw;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.testImg {
    max-width: 100%;
    width: 100%;
    height:100%;
    max-height: 100%; 
    object-fit: cover;

}


.container .box:after {
    content:"";
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 80px;
    height: 80px;
    background: url("");
    background-size: cover;
    opacity: 0.5;
    pointer-events: none;
    transition: 0.5s;
    transform: rotate(180deg) translateY(0px);
}

.container .box:hover:before{
    transform: rotate(180deg) translateY(-60px);
    transform: translateY(-60px);
    opacity: 1;
}

@media (max-width: 786px){
    
    .testimonial{
        padding: 0px 0px;
    }

    .container .box p{
        font-size: 4vw;
    }

    .container .box h4{
        margin: 8px;
        font-size: 3.5vw;
    }

    .container .box h4 span{
        font-size: 3.2vw;
    }

    .container .box .imgBox {
        height: 30vw;
        width: 30vw;
    }
}
