.work {
    z-index: 100;
    background-image: url('https://i.imgur.com/s568xMp.png');

    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.work__header {
    z-index: 1000;
}

.work__banner {
    width: 100%;
    max-width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work__bannerImage {
    position: absolute;
    max-width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: -1;
}


.work__bannerContent {
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.work__bannerContent > h2 {
    font-family: "beckman";
    font-size: 9vw;
    color: #ffffff00;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: #03D8F2;
    margin: 20px
}

.work__bannerContent > h3 {
    font-family: "Poppins" sans-serif;
    font-size: 2.5vw;
    color: white;
    font-weight: 400;
    margin: 10px;
}

.work__bannerButton {
    cursor: pointer;
    font-size: 1.6vw;
    padding: 0.8vw 3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-top: 10px;
    background-color: hsl(187, 98%, 48%);
    color:#1E1F26;
    border-radius: 20px;    
    border: 3px solid #03D8F2;
    letter-spacing: 2px;
    transition: 0.2s;
}
.work__bannerButton:hover
{
  letter-spacing: 6px;
}

.work__container{
    display: flex;
    justify-content: center;
    align-items: center;
}



.work__cards {
   max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #1E1F26;
    box-shadow: inset 4px 4px 6px rgba(255,255,255,0.2) ,
                inset -4px -4px 10px rgba(0,0,0,0.8),
                6px 6px 8px black,
                -1px -1px 7px rgba(255,255,255,0.1);
}


@media(max-width: 786px){
    .work__bannerContent > h2 {
        font-size: 15vw;
    }
    .work__bannerContent > h3{
        font-size: 6vw;
    }
    .work__bannerButton{
        font-size: 6vw;
    }

}

/* .work > hr {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
} */