/* .app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app__container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
} */

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
:root {
    --overlay-color: #03a9f4;
} 

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #1E1F26;
}